<% @graph.graph_json["links"].each do |g| %>
  <table class="table table-bordered">
    <th>
      <%= g["source"] %>
    </th>
    <tr>
      <th>
        <%= g["target"] %>
      </th>
    </tr>
  </table>
<% end %>