<!-- Basing size of graph off of nodes -->
<table class="table table-bordered">
  <!-- Source (Horizontal) -->
  <tr>
    <th> </th>
  <% @graph.set_graph_size(@graph.data).each do |src| %>
    <th><%= src["name"] %></th>
  <% end %>
  </tr>

  <!-- Target (Vertical) -->
  <% @graph.set_graph_size(@graph.data).each do |target| %>
    <tr>
      <th><%= target["name"] %></th>
      <!-- Make sure checkboxes that represent a node pair
      belonging to a link are checked -->
      <% @graph.set_graph_size(@graph.data).each do |button| %>
        <% checked = @graph.checked(button["name"], target["name"]) %>
        <% src_name = button["name"] %>
        <% target_name = target["name"] %>
        <% names = src_name + ':' + target_name %>
        <% if checked %>
          <td><%= check_box_tag 'linked', names, true %></td>
        <% else %>
          <td><%= check_box_tag 'linked', names, false %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
