<!-- Basing size of graph off of nodes -->
<table class="table table-bordered">
  <!-- Source (Horizontal) -->
  <tr>
    <th> </th>
  <% @graph.set_graph_size(@graph.data).each do |src| %>
    <th><%= src["name"] %></th>
  <% end %>
  </tr>

  <!-- Target (Vertical) -->
  <% @graph.set_graph_size(@graph.data).each do |target| %>
    <tr>
      <th><%= target["name"] %></th>
      <% @graph.set_graph_size(@graph.data).each do |button| %>
        <% checked = Link.compare_names(@graph, button["name"], target["name"]) %>
        <% if checked %>
          <td><input type="checkbox" checked="true"></td>
        <% else %>
          <td><input type="checkbox"></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>