 <!-- Basing size of graph off of nodes -->
<table class="table table-bordered">
  <!-- Source -->
  <tr>
    <th> </th>
  <% @graph.set_graph_size(@graph.data).each do |src| %>
    <th><%= src["name"] %></th>
  <% end %>
  </tr>

  <!-- Target -->
  <% @graph.set_graph_size(@graph.data).each do |target| %>
    <tr>
      <% @graph.set_graph_size(@graph.data).each do |button| %>
        <% @graph.is_checked(@graph.data, button["name"]) %>
        <td><input type="checkbox"></td>
      <% end %>
    </tr>
  <% end %>
</table>

<!--
      <% # @graph.set_graph_size(@graph.data).each do |button| %>
        <% # checked = @graph.is_checked(@graph.data, button["name"], target["name"]) %>
        <% # if checked == true %>
          <td><input type="checkbox" checked="true"></td>
        <% # else %>
          <td><input type="checkbox" checked="false"></td>
        <% # end %>
      <% # end %>
    -->