<!-- Pass json to Javascript -->
<%= content_tag :div, class: "graph_json", data: {json: @graph.graph_json} do %>
<% end %>

<p id="display_graph">
  <!-- Placeholder for force directed graph -->
</p>

Created Graph!

<%= form_for [@user, @graph], {url:"/users/:user_id/graphs/:id"} do |form| %>
  <%= @graph.name %>

  <%= @graph.data %>

<% end %>