<!-- Pass json to Javascript -->
<%= content_tag :div, class: "graph_json", data: {json: @graph.graph_json} do %>
<% end %>

<!-- Pass graph id to Javascript -->
<%= content_tag :div, class: "graph_info", data: {graph_id: @graph.id} do %>
<% end %>

<!-- Pass user to Javascript -->
<%= content_tag :div, class: "user_info", data: {user_id: @user.id} do %>
<% end %>

<div class="container">

  <h1>
    Created <%= @graph.name %>
  </h1>

  <div class="jumbotron">
    <div id="display_graph">
      <!-- Placeholder for force directed graph -->
    </div>
  </div>
</div>

<!-- Buttons to control graph behavior -->
<div class="container">
  <div id="behaviors" class="graph_control_panel">
    <div id="label_num_input">
      <label>
        <span class="label label-primary">Link Distance</span>
      </label>
      <input type="number" class="num_value" id="link_distance" value="100" size=4>
    </div>
    <div id="label_num_input">
      <label>
        <span class="label label-primary">Charge</span>
      </label>
      <input type="number" class="num_value" id="charge" value="-120" size=4>
    </div>
    <div id="label_num_input">
      <label>
        <span class="label label-primary">Node Radius</span>
      </label>
      <input type="number" class="num_value" id="radius" value="10" size=4>
    </div>
    <div id="label_num_input">
      <label>
        <span class="label label-primary">Font Size</span>
      </label>
      <input type="number" class="num_value" id="font_size" value="12" size=4>
    </div>
    <div id="fisheye">
      <button type="button" class="btn btn-primary btn-lg" id="fisheye_btn">
        <span class="glyphicon glyphicon-eye-open"> Fisheye</span>
      </button>
    </div>
    <div id="refresh">
      <button id="refresh_btn" type="button" class="btn btn-primary btn-lg">
        Make Graph
      </button>
    </div>
  </div>

  <!-- Bring in edit view -->
  <div id="relationships" class="graph_control_panel">
    <div id="edit_graph">
    </div>
    
    <div id="rebuild">
      <button id="rebuild_btn" type="button" class="btn btn-primary btn-block">
        Rebuild Graph
      </button>
    </div>
  </div>

</div>
