<div class="container">
  <div class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <%= form_for @user, {url:"/authentications", method:"post"} do |u| %>
      <%= u.text_field :name, placeholder: 'Login', class: "form-control" %>
      <%= u.text_field :password, placeholder: 'Password', class: "form-control" %>
      <%= u.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
  </div>
</div>