<h1> Hi <%= @user.name %> </h1>

<!-- Pass user to Javascript -->
<%= content_tag :div, class: "user_info", data: {user_id: @user.id} do %>
<% end %>

<div id="create_new_graph">
  <!-- Placeholder for graphs#new -->
</div>

<br>
<%= button_to "View All Graphs", user_graphs_path(@user.id), method: :get %>
<br>
<%= button_to "Sign out", authentication_path(@user.id), method: :delete %>